---
import { Image } from "astro:assets";
import { Steps } from "@astrojs/starlight/components";
---

<h2>New Customer Flow</h2>

<Steps>
<ol>
	<li>
		1. Sign up
		<div class="flex gap-3">
			<Image src="/event/signup1.avif" class="w-full basis-1/3 !m-0" width={200} height={400} alt="Signin page" />
			<Image src="/event/signup2.avif" class="w-full basis-1/3 !m-0" width={200} height={400} alt="Signin page" />
		</div>
	</li>
	<li>
		2. Find their child by SSID & birthday
		<div class="flex gap-3">
			<Image src="/event/find_child1.avif" class="w-full basis-1/3 !m-0" width={200} height={400} alt="Signin page" />
			<Image src="/event/find_child2.avif" class="w-full basis-1/3 !m-0" width={200} height={400} alt="Signin page" />
		</div>
		or add a new child if not in SS/SSID unknown
		<div class="flex gap-3">
			<Image src="/event/add_child1.avif" class="w-full basis-1/3 !m-0" width={200} height={400} alt="Signin page" />
			<Image src="/event/add_child2.avif" class="w-full basis-1/3 !m-0" width={200} height={400} alt="Signin page" />
		</div>
	</li>
	<li>
		3. Proceed as if an existing customer from the claimed/added child's profile
		<div class="flex gap-3">
		    <Image src="/event/child_new.avif" class="w-full basis-1/3 !m-0" width={200} height={400} alt="Select event page from child profile" />
		</div>
	</li>
</ol>

</Steps>
